* { margin: 0px; padding: 0px; }

body {
	background-color: #fff;
	font-family: 'Bentham', arial, helvetica, sans-serif;
	
	/* This text align is required to center the page in ie */
	text-align: center;
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/* GLOBALS */

h1 {
	font-size: 32pt;
}

h2 {
	font-size: 28pt;
}

h3 {
	font-size: 24pt;
}

h4 {
	font-size: 20pt;
}

a {
	color: black;
	text-decoration: none;
}
/* END GLOBALS */

/* Top Navigation */

#top_nav {
	top: 0px;
	width: 100%;
	background: #EBEEF1;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #CBD3DB;
	color: white;
	font-size: 8pt;
	letter-spacing: 2px;
	padding-bottom: 4pt;
	padding-top: 4pt;
	text-align: center;
	text-transform: uppercase;
}

#top_nav a {
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

#top_nav a:hover {
	text-decoration: underline overline;
}

/* END Top Navigation */

/* WRAPPER */
#wrapper {
	text-align: left;
	margin: 0 auto;
	width: 800px;
}

/* Header */

header {
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
}

h1 {
	text-shadow: 1.5px 1.5px 1.5px #969696;
	-webkit-transition: all 0.15s linear;
}

h1:hover {
	-webkit-transform: scale(1.1);
}

.object {
	color: #828262;
}

.method {
	color: #D1D082;
}

.paramaters {
	color: #5271C4;
}

/* END Header */

/* Main Navigation */

nav {
}

nav ul {
	padding-bottom: 20px;
	float: left;
	list-style: none;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	background-color: transparent;
	font-size: 14pt;
	color: black;
	padding: 5px;
	text-decoration: none;
	
	border-style: solid;
	border-color: black;
	border-width: 1px;
	
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
	
	-webkit-transition:	all .3s ease-in-out;
	-moz-transition:	all .3s ease-in-out;
	-o-transition:		all .3s ease-in-out;
	transition:			all .3s ease-in-out;
}

nav ul li a.selected {
	background-color: black;
	color: white;
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
}

nav ul li a:hover {
	background-color: black;
	color: white;
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
}

nav form {
	float: right;
}

nav form input[type=text] {
	border: solid, 1px, black;
	width: 175px;
	height: 20px;
}

nav form input[type=submit] {
	padding: 3px;
	margin: 0px;
}

.clear_both {
	clear: both;
}

/* END ALL Navigation */


/* Featured Bar */

#featured {
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FBFBFB;
	border-bottom: 1px solid #EAEAEA;
	border-top: 1px solid #EAEAEA;
}

#featured  ul {
	list-style: none;
}

#featured ul li {
	display: inline;
	padding-left: 10px;
}

#featured ul li a:hover {
	text-decoration: underline;
}
/* END Featured Bar */


/* Content */

#content {
	text-align: left;
	line-height: 1.4;
	padding-top: 20px;
	font-family: 'Ubuntu';
}

#content a {
	color: #5271C4;
	-webkit-border-radius:	3px;
	-moz-border-radius:		3px;
	border-radius:			3px;
	-webkit-transition: all 0.1s linear;
}

#content a:hover {
	background-color: #5271C4;
	color: white;
}

/* END Content */


/* Footer */

footer {
	font-size: 10pt;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-top-style: dotted;
	border-top-color: black;
	border-top-width: 1px;
}

footer #license {
	margin-top: 20px;
	text-align: center;
}
/* END Footer */